.button {
    width: 100px;
    height: 2.5em;
    border-radius: 6px;
}

.button:hover {
    box-shadow: 0 0 4px 1px rgba(240, 248, 255, 0.8);
    cursor: pointer;
}

.button-dark {
    background-color: rgba(240, 248, 255, 0.9);
    border: 0.2px solid rgb(210, 221, 231);
}

.button-dark:hover {
    background-color: rgb(240, 248, 255);
}

.button-light {
    background-color: rgba(45, 98, 131, 0.9);
    border: 0.2px solid rgb(34, 71, 93);
    color: white;
}

.button-light:hover {
    background-color: rgb(45, 98, 131);
}