.footer {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.footer-dark {
    background-color: #dd7853;
    color: white;
}

.footer-light {
    background-color: #fffaf0;
}

.socials {
    display: flex;
    gap: 8px;
}