.portfolio-section {
    text-align: center;
    padding-top: 30px;
}

.portfolio-dark {
    background-color: #80425dff;
    color: white;
}

.portfolio-light {
    background-color: #ebd1d9ff;
    color: #001220;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

