.about-dark {
    background-color: #52154e;
    color: white;
}

.about-light {
    background-color: rgb(189, 206, 208);
    color: #001220;
}

.about-content {
    margin: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-me-text {
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
}

.about-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
    font-size: 1.4em;
}

.about-link {
    display: flex;
    align-items: center;
    gap: 10px;
}
